<header class="site-header">

<div class="contain-to-grid">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1>
              <a href="http://rodmachen.com.s3-website-us-west-2.amazonaws.com/">
                <span class="logo">M</span>
              </a>
            </h1>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-dropdown">
              <a  href="http://rodmachen.com.s3-website-us-west-2.amazonaws.com/">Rod Machen</a>
              <ul class="dropdown">
              </ul>
            </li>
          </ul>
          <ul class="right">
            <li class="has-dropdown">
              <a class="writer" href="http://words.rodmachen.com" target="_blank">writer</a>
              <ul class="dropdown">
                <li class="divider"></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a class="coder" href="http://rodmachen.github.io" target="_blank">coder</a>
              <ul class="dropdown">
                <li class="divider"></li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a class="photographer" href="photo/index.html">photographer</a>
              <ul class="dropdown">
                <li class="divider"></li>
                <li class="has-dropdown"><a href="#">Theatre</a></li>
              <ul class="dropdown">
                <li><a href="photo/theatre/shadowlands.html">Shadowlands</a></li>
              </ul>
                <li><a href="#">Music</a></li>
                <li><a href="#">Places</a></li>
                </ul>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>

</header>
